################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RatingControlMaui/bin/Debug
/RatingControlMaui/obj
/.vs
/RatingControlSample/obj
/RatingControlSample/bin/Debug
